<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/AdminLTE/dist/img/assets_0.webp" type="image/png">
    <title>Asset Management System</title>

    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/css/site.css">

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

    <style>
        body {
            margin-top: 120px;
        }
    </style>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div>
        <div>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()

                </div>
            </section>
        </div>
    </div>

    <!-- jQuery (Core - MUST be first for your script to work) -->
    <script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap 4 (Optional but good for consistency) -->
    <script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- AdminLTE App (Optional for login page) -->
    <script src="~/AdminLTE/dist/js/adminlte.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>