<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Asset Management System</title>

    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/css/site.css">

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

    <style>
        body {
            margin-top: 120px;
        }
    </style>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div>
        <div>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()

                </div>
            </section>
        </div>
    </div>

    <!-- 1. jQuery (ต้องมาก่อนเสมอ) -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- 2. Bootstrap (ถ้าหน้า Auth ของคุณใช้) -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>