html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Brand logo styling*/
.brand-image-custom {
    width: 33px !important;
    height: 33px !important;
    object-fit: cover !important;
}

/* Remove underline from brand link */
.brand-link {
    text-decoration: none ;
}

/* Remove underline from user profile link */
.user-panel .info a {
    text-decoration: none ;
}

/* For action buttons appear in one line */
.actions-no-wrap {
    white-space: nowrap;
}